{% extends 'base.html' %} {% block content %}
<div class="card-columns">
  {% for headline in headlines %}
  <div class="card shadow p-2 mb-3">
    <img class="card-img-top" alt="Card image cap" src="{{headline.image}}" />
    <div class="card-body">
      <div class="d-flex">
        <h5 class="card-title news-headline" id="headline{{headline.id}}">
          {{headline.title}}
        </h5>
      </div>
      <p class="card-text news-content">
        {{headline.content}}
      </p>
      <p class="card-text">
        <small class="text-muted">Published {{headline.publishedAt}}</small>
        <br />
        <small class="text-muted">Source: {{headline.source.name}}</small>
      </p>
      <div class="d-flex" style="justify-content: space-between;">
        <a
          class="btn btn-primary"
          id="url{{headline.id}}"
          href="{{headline.url}}"
        >
          Read More
        </a>
        <button
          class="btn btn-success custom-save-btn"
          id="save"
          onclick="saveArticle('{{headline.id}}','{{username}}')"
        >
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
