{% extends 'base.html' %} {% block content %}
<div class="card-columns">
  {% for headline in headlines %}
  <div class="card">
    <img class="card-img-top" alt="Card image cap" src="{{headline.image}}" />
    <div class="card-body">
      <h5 class="card-title news-headline">{{headline.title}}</h5>
      <p class="card-text news-content">
        {{headline.content}}
      </p>
      <p class="card-text">
        <small class="text-muted">Published {{headline.publishedAt}}</small>
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
