{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="card shadow p-2 mb-3 user-card bg-dark text-white">
    <div class="flex-container">
      <img
        src="{% static 'images/user-image.jpg' %}"
        alt=""
        class="rounded-circle user-img"
      />
      <div class="user-data mt-3">
        <h3>{{user.username}}</h3>
        <h4>Country: {{user.country}}</h4>
        <h4>Language: {{user.lang}}</h4>
      </div>
    </div>
  </div>
  <div class="card shadow p-2 mb-3 bg-dark text-white">
    <h4 class="card-title ml-3" style="color: gold;">
      <i class="fa fa-bookmark" aria-hidden="true"></i>
      Saved News
    </h4>
    <div class="list-group" id="saved-articles"></div>
  </div>
</div>
{% endblock %}
